:root{
    --background: #364958;
    --title--color: #ECB365;
    --repo--area: #EEEEEE;
    --text--color: #c9e4ca;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--background);
}
.title-area{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.head-title,
.head-subtitle{
    color: var(--text--color);
}
.head-title{
    font-style: italic;
    font-weight: 100;
    font-size: 25px;
}
.head-subtitle{
    font-weight: bold;
    margin-top: 15px;
    font-size: 45px;
}
.repo-areas{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.repo-title{
    color: var(--text--color);
}
.repo-area{
    width: 500px;
    height: 10vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    margin-top: 25px;
}
.repo-area h1{
    margin-top: 25px;
}
.links{
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.links div:nth-child(1),
.links div:nth-child(2){
    margin-right: 25px;
}
.links div{
    background-color: var(--background);
    text-align: center;
    font-size: 15px;
    border: 2px solid var(--title--color);
    width: 125px;
    height: 25px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links div a{
    text-decoration: none;
    color: white;
}

