:root{
    --background: #04293A;
    --title--color: #ECB365;
    --repo--area: #EEEEEE;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    margin-top: 75px;
    color: var(--title--color);
    border: 5px solid var(--title--color);
    padding: 25px;
    border-radius: 45px;
    font-weight: bold;
}
.repo-area{
    background-color: var(--repo--area);
    width: 550px;
    height: 85px;
    border: 3px solid var(--title--color);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}
.repo-area:nth-child(1){
    margin-top: 75px;
}
.links {
    margin-top: 5px ;
    display: flex;
}
.links div{
    background-color: var(--background);
    text-align: center;
    font-size: 15px;
    border: 2px solid var(--title--color);
    width: 100px;
    height: 25px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links div a{
    text-decoration: none;
    color: white;
}
